@use 'sass:math';
@charset 'utf-8';
@import 'normalize';
@import 'auto-em-rem-perssent';
@import 'calc-adaptive';
@import 'scrollbar';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&family=Roboto:wght@400;700&display=swap');
$maxWidth: 1440;
$maxWidthContainer: 1320;
$offsetContainer: 10px; 

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #fff;
	&.lock{
		overflow: hidden;
	}
}
// font-family: 'Roboto', sans-serif;
.wrapper{
	overflow-x: hidden;

}


[class*="__container"]{
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $offsetContainer;
}

ul li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	vertical-align: top;
}
.button{
	display: inline-block;
	padding: 22px 34px;
	background-image: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
	color: #fff;
}
.menu__burger{display: none;}

.header {
	color: #fff;
	background: url('../images/content/header-bg.jpg')100% 0 / 65% 100% no-repeat, linear-gradient(26.47deg, #023957 22.58%, #056088 94.16%);
	position: relative;
	min-height: 80vh;
		&::after{
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 35%;
			height: 10px;
			background-color: #fff;
		}
		&::before{
			content: '';
			position: absolute;
			background-color: rgba(9, 167, 202, 0.5);
			filter: blur(100px);
			border-radius: 50%;
			z-index: 1;
			bottom: -10%;
			left: -10%;
			--size: 303px;
			width: var(--size);
			height: var(--size);
			pointer-events: none;
		}
	&__container {}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}
	&__logo {}
	&__menu{}
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__list-item {
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: 500;
		transition-duration: .2s;
		&:not(:last-child){
			margin-right: 16px;
		}
		&:hover{
			opacity: 0.6;
		}
	}
	&__list-link {}
	&__content {
		margin-top: 5vw;
		&::before{
			content: '';
			position: absolute;
			background-color: rgba(9, 167, 202, 0.5);
			filter: blur(100px);
			border-radius: 50%;
			z-index: 1;
			top: -10%;
			left: 30%;
			--size: 342px;
			width: var(--size);
			height: var(--size);
			pointer-events: none;
		}
	}
	&__text {
		max-width: 740px;
		position: relative;
		z-index: 2;
	}
	&__title {
		font-size: rem(52);
		line-height: 1.5em;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	&__descr,
	&__link{
		font-size: 1rem;
		line-height: 1.6em;
		font-weight: 500;
	}
	&__descr {
		max-width: 445px;
		margin-bottom: 2rem;
	}
	&__link {}
}
.header-page{
	min-height: 50vh;
	&::after,
	&::before,
	.header__content::before{
		display: none;
	}
	.header__text{
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	&.about-page,
	&.contact-page,
	&.gallery-page{
		background: linear-gradient(0deg, rgba(2, 57, 87, 0.1)), url('../images/content/design-bg.jpg')center / cover no-repeat;	
	}
}
#main{}
.title-section{
	font-weight: 700;
	font-size: rem(24);
	line-height: 170%;
	margin-bottom: 1rem;
	color: #056088;
}
.title-header{
	text-align: center;
	max-width: 350px;
	width: 100%;
	margin: 0 auto 2rem;
}
.title-descr{
	line-height: 180%;
}
.company {
	padding-top: 10vh;
	padding-bottom: 10vh;
	&__container {}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__image {
		max-width: 640px;
		margin-right: 5vw;
		pointer-events: none;
		img{
			width: 100%;
			object-fit: cover;
		}
	}
	&__information {
		max-width: 473px;
		width: 100%;
	}
	&__title {}
	&__descr,
	&__processed {
		font-size: 1rem;
		line-height: 180%;
		color: #434343;
		margin-bottom: 1rem;
	}
	&__processed {
		font-weight: 500;
	}
	&__digits {
		font-weight: 700;
		font-size: 20px;
		line-height: 170%;
		color: #056088;
		margin-bottom: 2rem;
		display: flex;
	}
	&__digit {
		&:not(:last-child){
			margin-right: 2vw;
		}
	}
	&__link {}
}

.services {
	color: #434343;
	line-height: 170%;
	padding-bottom: 10vh;
	&__container {}
	&__header {}
	&__title {}
	&__descr {}
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, 310px);
		grid-auto-rows: 240px;
		grid-gap: 20px;
		justify-content: center;
	}
	&__item {
		padding: 20px 35px 17px 37px;
		transition: 0.3s;
		position: relative;
		&::before{
			opacity: 0;
			visibility: hidden;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background:linear-gradient(180deg, rgba(5, 96, 136, 0.8) 0%, rgba(2, 57, 87, 0.8) 100%), url('../images/content/services-item_bg.jpg')center / cover no-repeat;
			z-index: -1;
			transition: 0.3s;
		}
		&:hover{
			&::before{
				opacity: 1;
				visibility: visible;
			}
			.services__image{
				svg{
					fill: #fff;
				}
			}
			.services__item-title,
			.services__item-descr{
				color: #fff;
			}
		}
	}
	&__image {
		width: 43px;
		margin-bottom: 22px;
		svg{
			width: 100%;
			fill: #434343;
			transition: 0.25s;
		}
	}
	&__item-title {
		display: block;
		font-weight: 700;
		font-size: 20px;
		line-height: 170%;
		margin-bottom: 1rem;
		transition: 0.25s;
	}
	&__item-descr {
		transition: 0.25s;
	}
}
.benefits {
	&__container {}
	&__header {}
	&__title {}
	&__descr {}
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, 420px);
		grid-auto-rows: 313px;
		grid-gap: 20px;
		justify-content: center;
	}
	&__item {
		text-align: center;
		color: #fff;
		padding: 52px 56px 38px;
		&.flexible{
			background:linear-gradient(180deg, rgba(5, 96, 136, 0.8) 0%, rgba(2, 57, 87, 0.8) 100%), url('../images/content/flexible.jpg')center / cover no-repeat;
		}
		&.custom{
			background:linear-gradient(180deg, rgba(5, 96, 136, 0.8) 0%, rgba(2, 57, 87, 0.8) 100%), url('../images/content/customizable.jpg')center / cover no-repeat;
		}
		&.negotiable{
			background:linear-gradient(180deg, rgba(5, 96, 136, 0.8) 0%, rgba(2, 57, 87, 0.8) 100%), url('../images/content/negotiable.jpg')center / cover no-repeat;
		}
	}
	&__item-image {
		width: 51px;
		margin: 0 auto;
		margin-bottom: 2rem;
		img{
			width: 100%;
		}
	}
	&__item-title {
		display: block;
		font-weight: 700;
		font-size: 20px;
		line-height: 170%;
		margin-bottom: 1rem;

	}
	&__item-descr {
		line-height: 170%;
	}
}
.works {
	background: linear-gradient(180deg, rgba(5, 96, 136, 0.9) 0%, rgba(2, 57, 87, 0.9) 100%), url('../images/content/works-bg.jpg')center / cover no-repeat;
	color: #fff;
	padding-top: 15vh;
	margin-top: -10vh;
	margin-bottom: 15vh;
	&__container {}
	&__header {}
	&__title {
		color: inherit;
	}
	&__descr {}
	&__inner {
		margin-bottom: 7vh;
	}
	&__gallery {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 200px 200px 420px 200px 200px;
		grid-template-rows: repeat(3,126px);
		margin-bottom: 2rem;
	}
	&__gallery-item {
		max-width: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:nth-child(1){
			grid-row: 1/2;
		}
		&:nth-child(2){
			grid-row: 1/5;
		}
		&:nth-child(3){
			grid-row: 1/3;
		}
		&:nth-child(4){
			grid-row: 1/3;
		}
		&:nth-child(6){
			grid-column: 5/6;
			grid-row: 2/3;
		}
		&:nth-child(7){
			grid-column: 1/2;
			grid-row: 2/5;
		}
		&:nth-child(8){
			grid-column: 3/4;
			grid-row: 3/5;
		}
		&:nth-child(9){
			grid-column: 4/6;
			grid-row: 3/5;
		}
	}
	&__more-btn{
		text-align: right;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			right: 20%;
			width: 55%;
			height: 2px;
			background-image: linear-gradient(180deg, rgba(5,96,136, 1) 0%, rgba(9,167,202, 1) 100%);
		}
	}
	&__more {}

	&__clients {
		display: flex;
	}
	&__clients-header {
		align-self: flex-start;
		background-color: #fff;
		text-align: left;
		padding: 2vw 1.6vw;
	}
	&__clients-title {}
	&__clients-descr {
		margin-bottom: 2rem;
		color: #434343;
	}
	&__more {}
	&__reviews {
		background-color: #fff;
		padding-left: 1vw;
		position: relative;
	}
	&__reviews-bg{
		width: 101%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}
	&__review {
		background-image: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
		padding: 60px 1vw 1.1vw 50px;
		max-width: 416px;
		width: 100%;
		position: absolute;
		bottom: -15%;
		right: 0;
	}
	&__review-image {
		position: absolute;
		top: -10%;
		left: -10%;
		width: 102px;
		height: 102px;
		img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__review-descr {
		font-style: italic;
		line-height: 170%;
		margin-bottom: 1rem;
	}
	&__review-name {
		font-style: italic;
		line-height: 170%;
		font-weight: 600;
	}
}
.fslightbox-source.fslightbox-opacity-1{
	width: 50vw !important;
	height: 50vw !important;
	object-fit: contain;
}
.partners {
	margin-bottom: 7vh;
	&__container {}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__header {
		flex: 1 1 320px;
		text-align: left;
		margin: 0;
		max-width: initial;
		margin-right: 24px;
	}
	&__title {
		margin-bottom: 0;
	}
	&__items {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		max-width: 215px;
		img{
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-right: 24px;
		}
		margin-bottom: 8px;
	}
}
.team-works {
	margin-bottom: 7vh;
	&__container {}
	&__wrapper {
		max-width: 1080px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding-bottom: 1vw;
	}
	&__video{
		position: relative;
	}
	&__bg {
		img{
			width: 100%;
			height: 55vh;
			object-fit: cover;
			pointer-events: none;
		}
	}
	&__btn {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		&:active{
			transform: translate(-50%, -47%);
		}
	}
	&__text {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 416px;
		background-image: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
		color: #fff;
		padding: 32px 32px 38px 48px;
	}
	&__descr {
		line-height: 180%;
	}
}
.subscribe {
	color: #fff;
	margin-bottom: 10vh;
	&__container {}
	&__wrapper {
		padding: 5vh 5vw;
		background: linear-gradient(180deg, rgba(5, 96, 136, 0.8) 0%, rgba(2, 57, 87, 0.9) 100%), url('../images/content/subscribe-image.jpg')center / cover no-repeat;
	}
	&__content {
		max-width: 740px;
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		font-weight: 700;
		font-size: rem(52);
		line-height: 1.5em;
		margin-bottom: 1rem;
	}
	&__descr {
		line-height: 170%;
		margin-bottom: 2rem;
	}
	&__form {
		display: flex;
		justify-content: center;
	}
	&__inp {
		flex: 0 1 500px;
		padding: 18px 32px;
		font-size: rem(20);
		line-height: 170%;
		&::placeholder{
			font-size: 1rem;
			line-height: 170%;
		}
		&:focus{
			outline: none;
		}
	}
	&__btn {
		flex: 0 1 140px;
		border: none;
		cursor: pointer;
	}
}
.footer {
	font-family: 'Roboto', sans-serif;
	background-color: #023957;
	color: #fff;
	padding: 5vh 0;
	&__container {}
	&__inner {
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
		display: flex;
	}
	&__info {
		flex: 0 0 180px;
		margin-right: 5vw;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 1rem;
	}
	&__descr {
		line-height: 150%;
		margin-bottom: 2rem;
	}
	&__btn {}
	&__navigation {
		flex: 1 1 100%;
	}
	&__list {
		display: flex;
		justify-content: space-around;
	}
	&__list-item {
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	&__list-title {
		display: inline-block;
		font-family: 'Poppins', sans-serif;
		font-size: rem(24);
		line-height: 170%;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	&__sublist {}
	&__sublist-item {
		line-height: 150%;
		&:not(:last-child){
			margin-bottom: 1rem;
		}
	}
	&__sublist-link {}
}
.sub-footer {
	padding: 2rem 0;
	text-align: center;
	line-height: 170%;
	color: #434343;
	letter-spacing: 0.1em;
	&__container {}
	&__copy {}
}
.about {
	margin-top: 10vh;
	line-height: 170%;
	&__container {}
	&__inner {}
	&__item {
		display: flex;
		margin-bottom: 7vh;
		&:nth-child(even){
			background: linear-gradient(180deg, rgba(5, 96, 136, 0.9) 0%, rgba(2, 57, 87, 0.9) 100%), url('../images/content/about-bg.jpg')center / cover no-repeat;
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 20px 12px 20px;
			.about__title,
			.about__descr{
				color: #fff;
			}
			.about__text{
				margin-right: 5vw;
			}
			.about__images{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	&__images {
		position: relative;
		align-self: flex-start;
		max-width: 530px;
		width: 100%;
		& > img{
			width: 100%;
			object-fit: cover;
		}
		margin-right: 8vw;
	}
	&__subimage {
		position: absolute;
		bottom: -12%;
		right: -12%;
		padding: 16px;
		background-color: #fff;
		max-width: 392px;
		width: 100%;
		& > img{
			max-width: 100%;
		}
	}
	&__text {
		max-width: 510px;
		width: 100%;
		padding-top: 28px;
	}
	&__title {
		display: inline-block;
		font-size: rem(24);
		font-weight: 700;
		color: #056088;
		margin-bottom: 1rem;
		span{
			font-size: rem(32);
			font-style: italic;
		}
	}
	&__descr {
		color: #434343;
	}
	&__descr-item {
		&:not(:last-child){
			margin-bottom: 2rem;
		}
	}
}
.contact {
	margin: 10vh -0;
	&__container {}
	&__inner {
		background-color: #f5f5f5;
		display: flex;
		margin-bottom: 7vh;
	}
	&__image {
		max-width: 530px;
		width: 100%;
		img{
			max-width: 100%;
		}
	}
	&__form {
		padding: 2vw 1.6vw 1.8vw 1.9vw;
	}
	&__title {
		display: block;
		font-size: rem(24);
		line-height: 170%;
		font-weight: 700;
		color: #056088;
		margin-bottom: 24px;
	}
	&__form-wrapper{
		display: flex;
		flex-wrap: wrap;
		& > *:not(:last-child){
			margin-bottom: 16px;
		}
		margin: 0 -8px 16px;
	}
	&__inp-wrap{
		flex: 1 1 50%;
		padding: 0 8px;
	}
	&__inp {
		width: 100%;
		border: none;
		padding: 12px 20px;
		&:focus{
			outline: 1px solid blue;
		}
		&::placeholder{
			font-weight: 500;
		}
	}
	&__textar {
		width: 100%;
		flex: 1 1 100%;
		resize: none;
		border: none;
		height: 180px;
		padding: 12px 20px;
		&:focus{
			outline: 1px solid blue;
		}
		&::placeholder{
			font-weight: 500;
		}
	}
	&__btn {
		border: none;
		cursor: pointer;
	}
	&__or {
		text-align: center;
	}
	&__or-inner {}
	&__or-btn {
		&:not(:last-child){
			margin-right: 2rem;
		}
	}
}
.gallery {
	margin: 10vh 0;
	&__container {}
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(360px,420px) );
		justify-content: center;
		grid-gap: 10vh 20px;
		margin-bottom: 10vh;
	}
	&__item {}
	&__more {}
	&__more-btn {}
}
.more-btn__wrapper{
	text-align: center;
}
.more-btn{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.card-item {
	max-width: 420px;
	width: 100%;
	background-color: #fff;
	filter: drop-shadow(0px 8px 30px rgba(2, 57, 87, 0.15));
	display: flex;
	flex-direction: column;
}
.card-image {
	max-height: 250px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.card__text{
	padding: 30px 18px 30px 30px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.card-title {
	font-weight: 700;
	font-size: rem(24);
	line-height: 170%;
	color: #056088;
	margin-bottom: 1rem;
}
.card-descr {
	font-size: 1rem;
	line-height: 170%;
	color: #434343;
	margin-bottom: 1.6rem;
	flex: 1 1 auto;
}
.card-link {
	align-self: start;
}
.news {
	position: relative;
	margin: 10vh 0;
	&::before{
		content: '';
		position: absolute;
		top: 25%;
		width: 100%;
		height: 60vh;
		transform: translateY(-25%);
		background: linear-gradient(180deg, rgba(5, 96, 136, 0.9) 0%, rgba(2, 57, 87, 0.9) 100%), url('../images/content/about-bg.jpg')center / cover no-repeat;
	}
	&__container {}
	&__today {
		width: 100%;
		object-fit: cover;
		color: #fff;
		position: relative;
		margin-bottom: 10vh;
		img{
			width: 100%;
			pointer-events: none;
		}
	}
	&__today-text{
		position: absolute;
		bottom: 3%;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 24px;
	}
	&__today-title {
		margin-right: 20px;
	}
	&__today-descr {
		max-width: 350px;
		line-height: 170%;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(360px,420px) );
		justify-content: center;
		grid-gap: 10vh 20px;
		margin-bottom: 10vh;

	}
	&__item {}
	&__more {}
	&__more-btn {}
}
.process {
	margin: 10vh 0;
	&__container {}
	&__info {
		margin-bottom: 10vh;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		flex: 0 1 510px;
		margin-right: 2vw;
	}
	&__title {}
	&__descr {
		font-size: 1rem;
		line-height: 170%;
		color: #434343;
		margin-bottom: 1rem;
	}
	&__digits {
		display: flex;
		flex-wrap: wrap;
	}
	&__digits-budget {}
	&__digits-item {
		font-weight: 700;
		font-size: rem(20);
		line-height: 170%;
		color: #056088;
		&:not(:last-child){
			margin-right: 2vw;
			justify-content: space-between;
		}
	}
	&__digits-time {}
	&__info-image {
		flex: 0 1 730px;
		img{
			width: 100%;
		}
	}
	&__gallery {
		background-image: linear-gradient(180deg, rgba(5, 96, 136, 0.9) 0%, rgba(2, 57, 87, 0.9) 100%);
		position: relative;
		&::before{
			// content: '';
			position: absolute;
			top: 0%;
			width: 100%;
			height: 60vh;
			transform: translateY(-25%);
			background: linear-gradient(180deg, rgba(5, 96, 136, 0.9) 0%, rgba(2, 57, 87, 0.9) 100%), url('../images/content/about-bg.jpg')center / cover no-repeat;
		}
	}
	&__title {
		text-align: center;
		padding: 1rem 0 0;
	}
	&__title-gallery{
		color: #fff;
	}
	&__gallery-inner {
		position: relative;
		padding-bottom: 38px;
	}
	&__gallery-item {
		max-width: 420px;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.swiper-pagination-bullet{
		background-color: #e7e7e7 ;
	}
	.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
		background-color: #fff;
	}
}
@import 'media';